@use "../../styles/variables/colors.scss";

.modal__close {
  width: 32px;
  height: 32px;

  color: colors.$btn_gen;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: absolute;
  top: 16px;
  right: 16px;

  cursor: pointer;
  user-select: none;

  &-xsvg {
    width: 12px;
    height: 12px;
    fill: colors.$btn_gen;
  }
  &:hover .modal__close-xsvg {
    fill: colors.$btn_hover;
  }
  &:hover {
    color: colors.$btn_hover;
    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 17px;
    right: 17px;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }
}
