@use "../../styles/variables/colors.scss";
@use "../../styles/variables/fonts.scss";
@use "../../styles/mixins/mixins.scss";

.madal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: colors.$bg_veil;
}

.modal {
  width: 100%;
  max-width: 560px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 60px 50px;

  background-color: colors.$bg_body;
  box-shadow: 2px 2px 12px 3px colors.$shadow_dark;

  border-radius: 16px;
  border: 1px solid colors.$gen_dark;

  &:hover {
    border: 1px solid colors.$gen_hover-dark;
    box-shadow: 3px 3px 24px 4px colors.$shadow_dark-green;
  }

  .modal__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
  }

  .modal__header {
    margin-bottom: 25px;
  }

  .modal__body {
    text-align: center;

    &-title {
      @include mixins.Text(32px, 400, colors.$gen, fonts.$Inter);
      margin-bottom: 35px;
    }
    &-text {
      @include mixins.Text(16px, 500);
    }
  }

  .modal__footer {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
}
