// BASE COLORS:
$white: #ffffff;
$black: #000000;

// GENERAL:
$gen: #6e7d87;

$gen_dark: #467deb; //  Border Modal Base
$gen_hover-dark: #1eebdc; // Hover Modal Base

// BUTTONS:
$btn_gen: #55c3eb;
$btn_dark: #467deb;
$btn_hover: #1eebbe;
$btn_hover-dark: #1eebdc;

// BACKGROUNDS:
$bg_body: #181818; // Background body
$bg_brand: #1f1f1f; // Background container
$bg_veil: rgba(24, 24, 24, 0.7); // Background veil-wrapper

// SHADOW:
$shadow: rgba(65, 135, 240, 0.4); //General
$shadow_dark: rgba(30, 55, 95, 0.8);
$shadow_dark-green: rgba(35, 80, 110, 0.6); //General

// ADDITIONAL COLORS:
// $brand-yellow: #e5e512; // Text color (experiment)
