@use "../variables/colors.scss" as vars;
@use "../variables/fonts.scss" as fonts;

@mixin Text($size: 16px, $weight: 400, $color: vars.$gen, $family: fonts.$Roboto) {
  font-family: $family;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
